body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
    align-self: flex-start; /* Align label to the start for better readability */
}

form input {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Take the full width of the container */
    max-width: 190px; /* Limit the width of the input field */
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

form button, .button-group button, a button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #002c5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

form button:hover, .button-group button:hover, a button:hover {
    background-color: #0056b3;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.messages li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}
