altgraph==0.17.4
asgiref==3.8.1
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.8
Django==5.0.6
et-xmlfile==1.1.0
filelock==3.14.0
Flask==3.0.3
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
openpyxl==3.1.4
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
platformdirs==4.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pyodbc==5.0.1
python-dateutil==2.9.0.post0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.1.0
virtualenv==20.26.2
Werkzeug==3.0.3
