<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesion </title>
    {% load static %}  <!-- Asegúrate de cargar la etiqueta static -->
    <link rel="stylesheet" href="{% static 'AsistenciaRestaurante/styles/login.css' %}">
    <style>
        body {
            background-image: url("{% static 'AsistenciaRestaurante/images/fondo.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
</head>
<body>
   
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <label for="id_username">Usuario</label>
            <input type="text" name="username" id="id_username" required>
            
            <label for="id_password">Contraseña</label>
            <input type="password" name="password" id="id_password" required>

            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>
