<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Asistencia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'AsistenciaRestaurante/styles/registro_asistencia.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Registro de Asistencia</h1>
    <h2 id="reloj">--:--:--</h2>
    <form id="formRegistro" action="" method="post">
        <label for="codigo">Código del Empleado:</label>
        <input type="text" id="codigo" name="codigo" autofocus onkeypress="handleKeyPress(event)">
        <button type="button" onclick="consultarEmpleado()">Ingresar</button>
    </form>

    <!-- Botón para redirigir a la vista de exportar datos -->
    {% if user.is_authenticated and user.is_staff %}
    <script type="text/javascript">
        var exportUrl = "{% url 'exportar_form' %}";
        var crearEmpleadoUrl = "{% url 'crear_empleado' %}";
    </script>
    <div class="admin-buttons">
        <button type="button" class="styled-button" onclick="window.location.href=exportUrl">Exportar Datos</button>
        <button type="button" class="styled-button" onclick="window.location.href=crearEmpleadoUrl">Crear Empleado</button>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="styled-button">Salir</button>
        </form>
    </div>
    {% endif %}

    <div id="listaEmpleados">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Hora de Marcación</th>
                </tr>
            </thead>
            <tbody id="empleadosTabla">
                <!-- Aquí se añadirán las filas con los registros de los empleados -->
            </tbody>
        </table>
    </div>

    <script>
        function consultarEmpleado() {
            var codigo = $('#codigo').val();
            var ahora = new Date();
            var horas = ahora.getHours();
            var minutos = ahora.getMinutes();
            var segundos = ahora.getSeconds();
            horas = (horas < 10 ? "0" : "") + horas;
            minutos = (minutos < 10 ? "0" : "") + minutos;
            segundos = (segundos < 10 ? "0" : "") + segundos;
            var horaCliente = horas + ':' + minutos + ':' + segundos;

            $.ajax({
                url: '',  // La URL actual maneja la solicitud
                type: 'post',
                data: {
                    'codigo': codigo,
                    'hora_cliente': horaCliente,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.mensaje.includes('Error')) {
                        var errorRegistro = '<p>' + response.mensaje + '</p>';
                        $('#listaEmpleados').prepend(errorRegistro);
                    } else {
                        var registro = '<tr><td>' + response.nombre + '</td><td>' + response.hora + '</td></tr>';
                        $('#empleadosTabla').prepend(registro);  // Añade al inicio de la tabla
                    }
                    mantenerListaCorta();
                    $('#codigo').val('');
                },
                error: function() {
                    $('#listaEmpleados').prepend('<p>Error: Empleado no encontrado.</p>');
                    mantenerListaCorta();
                }
            });
            $('#codigo').val('');  // Limpia el campo después del envío
        }

        function handleKeyPress(e) {
            if (e.key === 'Enter') {
                e.preventDefault();  // Evita cualquier comportamiento predeterminado del Enter
                consultarEmpleado();  // Llama a la función que envía la solicitud
            }
        }

        function mantenerListaCorta() {
            var maxItems = 10;
            var items = $('#empleadosTabla tr');
            if (items.length > maxItems) {
                items.slice(maxItems).remove();
            }
        }

        function actualizarReloj() {
            var ahora = new Date();
            var horas = ahora.getHours();
            var minutos = ahora.getMinutes();
            var segundos = ahora.getSeconds();
            horas = (horas < 10 ? "0" : "") + horas;
            minutos = (minutos < 10 ? "0" : "") + minutos;
            segundos = (segundos < 10 ? "0" : "") + segundos;
            var strTiempo = horas + ':' + minutos + ':' + segundos;
            document.getElementById("reloj").innerHTML = strTiempo;
        }

        setInterval(actualizarReloj, 1000);
    </script>
</body>
</html>
